# Introduction

This noteboook is to explore the identified location entities and see how to extract addresses by joining them.

In [2]:
import pandas as pd

In [6]:
entities = pd.read_csv("../files/entities.csv")
print entities.shape
entities.head()

(997, 6)

   art_id  sent_id  cs_id  pos          entity dataset
0       3        0      0    0  SAN PEDRO SULA   train
1       3        1      1   28            Sula   train
2       3        2      2   13  San Pedro Sula   train
3       3        3      3   38       Lomas del   train
4       3        5      5   21        la Madre   train

In [32]:
print "number of articles: %i" % len(entities.art_id.unique())
print entities.art_id.unique()[:10]

print "number of unique entities: %i"% len(entities.entity.unique())

# transform to lower case the entities
entities.loc[:,"lower"] = entities.entity.apply(lambda x: x.decode("utf-8").lower() )
print "number of unique lower entities: %i"% len(entities.lower.unique())

entities.lower.sort_values().unique()

number of articles: 205
[ 3  5  9 11 12 13 20 24 30 32]
number of unique entities: 393
number of unique lower entities: 372

array([u'14 de enero', u'20 de noviembre', u'21 de octubre',
       u'24 de abril', u'3 de mayo', u'6', u'abajo', u'agua',
       u'agua caliente', u'alemania', u'almoloya de ju\xe1rez', u'altos',
       u'alvarado', u'amarateca', u'anillo perif\xe9rico', u'antioquia',
       u'apaguiz', u'atl\xe1ntico', u'atl\xe1ntida', u'auka', u'azacualpa',
       u'barandillas', u'bel\xe9n', u'bengala', u'bogot\xe1', u'boulai',
       u'brasilia', u'brisas', u'brisas del merend\xf3n de',
       u'buenos aires', u'caba\xf1as', u'caloto', u'calpules',
       u'campo cielo', u'cana\xe1n', u'cartagena', u'car\xedas',
       u'casa presidencial', u'catacamas', u'cauca', u'centro',
       u'centro de rehabilitaci\xf3n de menores',
       u'centro de rehabilitaci\xf3n integral telet\xf3n', u'centro penal',
       u'cerrito lindo', u'cerro grande', u'chamelec\xf3n', u'chiquila',
       u'chiquimula', u'choloma', u'choluteca', u'ciudad de m\xe9xico',
       u'coatzacoalcos', u'cofrad\xeda', u'cololaca', u'colombia',
       u'colon', u'colonia las vegas del', u'col\xf3n', u'comayagua',
       u'comayag\xfcela', u'comunidad econ\xf3mica europea',
       u'concepci\xf3n', u'conguacota', u'cop\xe1n', u'cop\xe1n ruinas',
       u'corinto', u'corinto de omoa', u'cortes', u'cort\xe9s', u'costa',
       u'cristina', u'cuartel', u'cundinamarca', u'dakar', u'danl\xed',
       u'distrito central', u'divino', u'divino para\xedso',
       u'dos caminos', u'econ\xf3mica europea', u'eeuu', u'el',
       u'el aguacate', u'el caracol', u'el carmen', u'el carrizal',
       u'el centro', u'el chaparro', u'el chilar', u'el chile',
       u'el chimbo', u'el guayabito', u'el hogar', u'el jaral', u'el lolo',
       u'el manantial', u'el negrito', u'el ocotal', u'el palmichal',
       u'el para\xedso', u'el periodista', u'el plan', u'el porvenir',
       u'el progreso', u'el rinc\xf3n', u'el sitio', u'estado',
       u'estado de', u'estado de m\xe9xico', u'exportadora',
       u'fabio ochoa', u'fiallos', u'flake de flores', u'flor del campo',
       u'flor del campo 2', u'florida', u'francisco',
       u'francisco moraz\xe1n', u'fuerzas armadas', u'fusina', u'garoua',
       u'goascor\xe1n', u'godoy', u'granitos', u'granja penal',
       u'guadalupe', u'guaimaca', u'gualaco', u'guasaule', u'guatemala',
       u'guaymuras', u'guill\xe9n', u'g\xf3mez', u'handal',
       u'hato de enmedio', u'hollywood', u'honduras', u'hugo edgardo',
       u'humanos', u'india', u'inspecciones', u'instituto',
       u'instituto jes\xfas aguilar paz', u'intibuc\xe1', u'izabal',
       u'jabalpur', u'jalisco', u'jardines', u'jes\xfas',
       u'jes\xfas de otoro', u'jos\xe9 \xe1ngel ulloa', u'juticalpa',
       u'kassandra', u'kennedy', u'kisalaya', u'la', u'la burrera',
       u'la cantareros', u'la ca\xf1ada', u'la ceiba', u'la cofrad\xeda',
       u'la crucitas', u'la cumbre', u'la entrada', u'la esperanza',
       u'la fuente', u'la gloria', u'la granja', u'la lima',
       u'la l\xednea', u'la madre', u'la mascota', u'la monta\xf1ita',
       u'la mosquitia', u'la obrera', u'la paz', u'la pita',
       u'la polic\xeda', u'la pradera', u'la reforma', u'la ronda',
       u'la sabana de san manuel', u'la venta del sur', u'la vuelta del',
       u'lagbo', u'laguntara', u'las', u'las brisas', u'las colinas',
       u'las crucitas', u'las flores', u'las palmas', u'las pavas',
       u'las torres', u'las uvas', u'las vegas del country', u'lempira',
       u'lomas', u'lomas del', u'lomas del carmen', u'londres',
       u'los amates', u'los cocos', u'los corrales', u'los hornos',
       u'los mixcos', u'los naranjos', u'los \xe1ngeles',
       u'luis andr\xe9s z\xfaniga', u'l\xf3pez', u'l\xf3pez arellano',
       u'macuelizo', u'madhya pradesh', u'managua', u'mata', u'matazano',
       u'mateo', u'mazatenango', u'mazatl\xe1n', u'medicina forense',
       u'mercado', u'mery flake de flores', u'mi rey',
       u'miradores de oriente', u'miraflores', u'modelo',
       u'monse\xf1or fiallos', u'moraz\xe1n', u'morocel\xed', u'm\xe9xico',
       u'nacaome', u'narayit', u'nicaragua', u'nombre de culm\xed',
       u'nora g\xfanera de melgar', u'norte', u'nueva arcadia',
       u'nueva capital', u'nueva delhi', u'nueva esperanza',
       u'nueva primavera', u'nueva suyapa', u'occidente n\xfamero tres',
       u'ocotal', u'ocotepeque', u'ojojona', u'olancho', u'omoa',
       u'oriente', u'panam\xe1', u'patuca', u'pedregal', u'pedro',
       u'penitenciaria', u'penitenciar\xeda',
       u'penitenciar\xeda marco aurelio soto',
       u'penitenciar\xeda nacional',
       u'penitenciar\xeda nacional marco aurelio soto',
       u'perpetuo socorro', u'pe\xf1a blanca', u'plan tres mil', u'planes',
       u'plaza miraflores', u'potos\xed', u'potrerillos', u'protecci\xf3n',
       u'puerto', u'puerto cortes', u'puerto cort\xe9s', u'puerto lempira',
       u'punuares', u'quebrada las cajas', u'ram\xf3n villeda morales',
       u'renaciendo', u'reparto los \xe1ngeles', u'residencial honduras',
       u'rivera hern\xe1ndez', u'roat\xe1n', u'rodolfo c\xe1rcamo',
       u'r\xedo blanquito', u'r\xedo lindo', u'r\xedo negro',
       u'r\xedo tinto', u'sabanagrande', u'sagastume', u'san',
       u'san antonio', u'san antonio de oriente', u'san blas',
       u'san esteban', u'san francisco', u'san francisco zapotitl\xe1n',
       u'san isidro', u'san jos\xe9', u'san juan', u'san luis',
       u'san manuel', u'san marcos', u'san marcos de col\xf3n',
       u'san miguel', u'san miguel arc\xe1ngel', u'san pedro',
       u'san pedro sula', u'san rafael del', u'san salvador', u'santa',
       u'santa anita', u'santa b\xe1rbara', u'santa cecilia',
       u'santa cruz', u'santa cruz de yojoa', u'santa fe',
       u'santa luc\xeda', u'santa marta', u'santa mar\xeda del real',
       u'santa rosa de', u'santa rosa de cop\xe1n',
       u'santa rosa de patuca', u'sat\xe9lite', u'siguatepeque',
       u'sinaloa', u'sina\xed', u'sitio', u'sitraterco', u'sonaguera',
       u'suchitep\xe9quez', u'sula', u'suyapa', u'suyapa de chamelec\xf3n',
       u'tamara', u'taulab\xe9', u'tegucigalpa', u'tela', u'terrazos',
       u'tiloarque', u'tocoa', u'tolima', u'toncont\xedn', u'torocagua',
       u'torocagua de', u'trojes', u'trujillo', u'trujilo', u'tr\xe1nsito',
       u'tulanga', u't\xe1mara', u't\xe1mara marco aurelio soto', u'ulloa',
       u'unidos', u'universidad', u'urraco pueblo', u'valle', u'valle de',
       u'valle de \xe1ngeles', u'vegas del country', u'venezuela',
       u'vida nueva', u'vida nueva de cofrad\xeda', u'villa adela',
       u'villa cristina', u'villa de cofrad\xeda', u'villa real',
       u'villa vieja', u'villafranca', u'villanueva', u'villas',
       u'villas para\xedso', u'yoro', u'zacapa', u'zonal bel\xe9n',
       u'\xe1ngeles'], dtype=object)

In [17]:
def getArticleEntities(df, art_ids):
    return df[ df["art_id"].isin( art_ids) ]

In [33]:
getArticleEntities(entities, entities.art_id.unique()[:10] )

,art_id,sent_id,cs_id,pos,entity,dataset,lower
0,3,0,0,0,SAN PEDRO SULA,train,san pedro sula
1,3,1,1,28,Sula,train,sula
2,3,2,2,13,San Pedro Sula,train,san pedro sula
3,3,3,3,38,Lomas del,train,lomas del
4,3,5,5,21,la Madre,train,la madre
5,3,7,7,11,San Pedro Sula,train,san pedro sula
6,5,0,10,0,TEGUCIGALPA,train,tegucigalpa
7,9,0,21,0,TEGUCIGALPA,train,tegucigalpa
8,9,8,29,9,Kennedy,train,kennedy
9,11,0,40,0,PUERTO CORTES,train,puerto cortes
10,11,0,40,3,Cortés,train,cortés
11,11,1,41,26,Choloma,train,choloma
12,11,1,41,29,Puerto Cortés,train,puerto cortés
13,11,1,41,32,Cortés,train,cortés
14,11,3,43,29,López,train,lópez
15,12,0,52,0,JUTICALPA,train,juticalpa
16,12,0,52,2,Olancho,train,olancho
17,12,1,53,32,Juticalpa,train,juticalpa
18,12,3,55,9,Juticalpa,train,juticalpa
19,12,16,68,9,San Esteban,train,san esteban
20,13,0,72,0,EL NEGRITO,train,el negrito
21,13,0,72,3,Yoro,train,yoro
22,13,1,73,36,La Vuelta del,train,la vuelta del
23,13,1,73,45,El Negrito,train,el negrito
24,13,1,73,48,Yoro,train,yoro
25,20,0,102,0,TEGUCIGALPA,train,tegucigalpa
26,20,1,103,19,Valle de Ángeles,train,valle de ángeles
27,20,2,104,19,Santa Lucía,train,santa lucía
28,20,3,105,15,20 de noviembre,train,20 de noviembre
29,20,4,106,24,Tegucigalpa,train,tegucigalpa
30,24,0,112,0,LA CEIBA,train,la ceiba
31,24,1,113,43,Alvarado,train,alvarado
32,24,7,119,15,Alvarado,train,alvarado
33,24,10,122,5,La,train,la
34,24,12,124,9,La Ceiba,train,la ceiba
35,30,0,126,0,TEGUCIGALPA,train,tegucigalpa
36,32,0,147,0,CORTES,train,cortes
37,32,3,150,16,El Jaral,train,el jaral
38,32,3,150,21,Peña Blanca,train,peña blanca
39,32,3,150,26,Santa Cruz de Yojoa,train,santa cruz de yojoa
40,32,3,150,31,Cortés,train,cortés
41,32,4,151,18,El Caracol,train,el caracol
42,32,4,151,22,El Aguacate,train,el aguacate
43,32,4,151,25,Río Lindo,train,río lindo
44,32,4,151,28,Cortés,train,cortés
45,32,9,156,13,La Sabana de San Manuel,train,la sabana de san manuel
46,32,9,156,19,Cortés,train,cortés

# Use a gazete

In [60]:
countries = [u"honduras",u"el salvador", u"eeuu", u"mexico", u"colombia"]
states = [
    u"francisco morazán", u"cortés", u"yoro", u"olancho" 
]

cities = [
    u"tegucigalpa", u"san pedro sula", u"yoro", u"la ceiba", u"juticalpa", u"valle de ángeles", 
    u"santa lucía", u"puerto cortes", u'choloma'
]

In [35]:
getArticleEntities(entities, [3] )

   art_id  sent_id  cs_id  pos          entity dataset           lower
0       3        0      0    0  SAN PEDRO SULA   train  san pedro sula
1       3        1      1   28            Sula   train            sula
2       3        2      2   13  San Pedro Sula   train  san pedro sula
3       3        3      3   38       Lomas del   train       lomas del
4       3        5      5   21        la Madre   train        la madre
5       3        7      7   11  San Pedro Sula   train  san pedro sula

# Naive / simplistic Approach
**Assumptions:**
- Each article is related to only one City - Department - Country
- Every address is related to the main city-department-country

In [79]:

def getAddressesNaive(df, art_id):
    global countries
    global cities
    global states
    
    art_entities = df[ df["art_id"] == art_id ]
    
    country = ""
    state = ""
    city = ""
    
    adds = []
    counts = {
        "country": 0,
        "state": 0,
        "city":0
    }
    for ix, entity in art_entities.iterrows():
        if entity.lower in countries:
            country = ", " + entity.lower
            counts["country"] += 1
        elif entity.lower in states:
            state = ", " + entity.lower
            counts["state"] += 1
        elif entity.lower in cities:
            state = ", " + entity.lower
            counts["city"] += 1
        else:
            address = entity.lower 
            adds.append(address)
            
    adds = [address + city + state +  country  for address in adds ]
            
    if len(adds) == 0:
        adds.append(city + state +  country )
        
    print counts
        
    return adds

In [80]:
# 3  5  9 11 12 13 20 24 30 32
getAddressesNaive(entities, 3)

{'country': 0, 'state': 0, 'city': 3}

[u'sula, san pedro sula',
 u'lomas del, san pedro sula',
 u'la madre, san pedro sula']

## some questions to ask

- What is the end result (raw) that I want to achieve?  => Answer: examples ....Art 123: [ "Kenedy, Tegucigalpa" ]
- How to get that results?  
   => Finding patterns? using gazetes? (what about new unknown cities or cities with same names?)  
   => changing the iob-tags?? i.e.  B-Zone, B-City, B-State, B-Country
   => Research more